*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;
}
body{
    background: #162831;
}
.container{
    width: 1140px;
    height: 0 auto;
}
.header_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
}
header ul{
    display: flex;
    column-gap: 40px;
    text-align: center;
}
header button{
    background: #018ABE;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
    border: none;
    color: white;
}
.banner{
    background: url(img/unsplash_S-llxYh3GzI.png)center/cover no-repeat;
    padding: 136px 0 210px;
    color: white;
}
.banner_top{
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 60px;
}
.banner h1{
    text-align: center;
    font-size: 80px;
    
}
.sns{
    padding: 150px 0;
}
.sns_top{
    display: flex;
    text-align:center;
    justify-content: center;
    color: white;
    column-gap: 45px;
}
.sns_left{
    background: url(img/unsplash_TnOyyEtrKd0.png)center/cover no-repeat;
    padding: ;
}